<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PII Masker</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/script.js"></script>
</head>
<body>
    <header>
        <a href="#"><img src="static/images/home.png" class="social-logo"></a>
        <a href="https://github.com/HeJun-C/Python-Data-Science-Projects" target="_blank"><img src="static/images/github.png" class="social-logo"></a>
        <a href="https://www.instagram.com/junjunchen620/" target="_blank"><img src="static/images/ins.png" class="social-logo"></a>
        <a href="https://www.linkedin.com/in/hejun-chen/" target="_blank"><img src="static/images/linkedin.png" class="social-logo"></a>
    </header>

    <div class="grid-layout">
        <div class="sidebar left"></div>
        
        
        <!-- Main Container -->
        <div class="main area">
            <div class="grid-container">
                <div class="grid-item title">
                    <div class="grid-item-banner">
                        
                    </div>
                </div>
                <div class="grid-item about">
                    <div class="grid-item-banner">
                        <img src="static/images/user.png" alt="Icon" class="banner-icon">
                        About
                    </div>
                </div>
                <div class="grid-item input">
                    <div class="grid-item-banner">
                        <img src="static/images/user.png" alt="Icon" class="banner-icon">
                        Input Sentence
                    </div>
                    <form id="inputForm">
                        <textarea id="userInput" name="user_input" required placeholder="Please input your sentence here (-_-)~                                      I will mask personal identifiable information in your input!"></textarea>
                        <button type="submit" id="input-button">Submit</button>
                    </form>
                </div>
                <div class="grid-item output">
                    <div class="grid-item-banner">
                        <img src="static/images/user.png" alt="Icon" class="banner-icon">
                        PII Masked Ouput
                    </div>
                    <!-- <textarea id="output-area" readonly placeholder="Your masked output will appear here"></textarea> -->
                    <div id="output-area" contenteditable="false" placeholder="Your output will appear here">
                    </div>
                    <div class="output-button-container">
                        <button id="clear-button" class="output-button">Clear</button>
                        <button id="copy-button" class="output-button">Copy</button>
                    </div>
                </div>
                <div class="grid-item end">
                    <div class="grid-item-banner">
                        <img src="static/images/user.png" alt="Icon" class="banner-icon">
                        Post PII Analysis
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar right"></div>
        <div class="footer">

        </div>
    </div>
    

</body>
</html>